<div id="<%= dom_id ride %>">
  <p>
    <strong>Title:</strong>
    <%= ride.title %>
  </p>

  <p>
    <strong>Rider:</strong>
    <%= ride.rider %>
  </p>

  <p>
    <strong>Mileage:</strong>
    <%= ride.mileage %>
  </p>

  <p>
    <strong>Elevation:</strong>
    <%= ride.elevation %>
  </p>

  <p>
    <strong>Bike:</strong>
    <%= ride.bike %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= ride.comments %>
  </p>

  <p>
    <strong>Ride date:</strong>
    <%= ride.ride_date %>
  </p>

</div>
